.lihatfppp {
    color: #6f42c1;
}
.search {
    width: 150px;
    height: 200px;
    text-align: center;
}
.d{
    width: 150px;
    height: 40px;
}
/* fix column */
.view {
    margin: auto;
  }
  
  .wrapper {
    position: relative;
    overflow: auto;
    white-space: nowrap;
  }
  
  .sticky-col {
    position: -webkit-sticky;
    position: sticky;
    background-color: white;
  }
  
  .first-col {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    left: 0px;
    z-index: 99;
  }
  
  .second-col {
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    left: 100px;
    z-index: 99;
  }
  .third-col {
    width: 150px;
    min-width: 150px;
    max-width: 150px;
    left: 250px;
    z-index: 99;
  }
  .width{
    max-width: 500px;
  }