.lihatfppp {
    color: #6f42c1;
}
.search {
    width: 150px;
    height: 200px;
    text-align: center;
}
.d {
    width: 150px;
    height: 40px;
}
/* fix column */
.view {
  margin: auto;
}

.table-responsive{
  overflow: scroll;
}

.wrapper {
  position: relative;
  overflow: scroll;
  white-space: nowrap;
}

.sticky-col {
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
}

.first-col {
  width: 100px;
  min-width: 100px;
  max-width: 100px;
  left: 0px;
  z-index: 99;
}

.second-col {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  left: 100px;
  z-index: 99;
}
.third-col {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  left: 250px;
  z-index: 99;
}

/* fixed table */
/* .table {
    border-collapse: separate;
  }

  .table td,
  .table tr {
    margin: 0;
    border: 1px solid grey;
    white-space: nowrap;
    border-top-width: 0px;
  }
    .div {
    width: 500px;
    overflow-x: scroll;
    margin-left: 5em;
    overflow-y: visible;
    padding: 0;
  }

  .headcol {
    position: absolute;
    width: 5em;
    left: 0;
    top: auto;
    border-top-width: 1px;
    /*only relevant for first row*/
    /* margin-top: -1px; */
    /*compensate for top border*/
  /* }

  .headcol:before {
    content: 'Row ';
  }

  .long {
    letter-spacing: 1em;
  /* }
