/* ROOT */
:root {
    --font-primary: #343A40;
    --purple: #B66DFF;
}

/* FONT FACE */
@font-face {
    font-family: 'Ubuntu-Medium';
    src: url('../fonts/Ubuntu/Ubuntu-Medium.ttf');
}

@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('../fonts/Ubuntu/Ubuntu-Bold.ttf');
}

body {
    font-family: "Ubuntu-Medium" !important;
}

/* NAVBAR */
.navbar .navbar-brand-wrapper .navbar-brand .main-logo {
    max-width: 130px !important;
    max-height: 45px !important;
    width: 100% !important;
    height: 100% !important;
}

/* END OF NAVBAR */

/* SIDEBAR */
.sidebar {
    font-family: "Ubuntu-Medium" !important;
    font-weight: 500;
}

/* sidebar nav-link */
.sidebar .nav-item .nav-link {
    /* background: #fff; */
    box-shadow: none;
    transition: 0.25s ease-in-out !important;
}

.sidebar .nav-item .nav-link.nav-link--active {
    background: linear-gradient(270deg, #8000FF 0%, #B66DFF 100%) !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 20px 20px 0px;
}

.sidebar .nav-item .nav-link.nav-link--active .menu-title {
    padding-left: 28px;
}




/* sidebar nav-link submenu */
.sidebar .nav-link .menu-title,
.sidebar .nav.sub-menu .nav-item .nav-link {
    font-size: 1rem !important;
    color: var(--font-primary) !important;
    transition: 0.2s ease-in-out;
}

.sidebar .nav.sub-menu .nav-item .nav-link {
    margin-left: 0.75rem !important;
}

.sidebar .nav .nav-item .nav-link i,
.sidebar .nav.sub-menu .nav-item .nav-link i {
    font-size: 1.5rem !important;
    color: var(--font-primary) !important;
    transition: 0.2s ease-in-out;
}

.sidebar .nav.sub-menu .nav-item .nav-link i {
    font-size: 0.95rem !important;
    margin-right: 14px;
}

.sidebar .nav.sub-menu .nav-item .nav-link:before {
    content: '' !important;
}

/* sidebar nav-link submenu active */
.sidebar .nav.sub-menu .nav-item .nav-link.sub-menu--active,
.sidebar .nav.sub-menu .nav-item .nav-link.sub-menu--active i {
    color: var(--purple) !important;
}

/* sidebar nav-link active */
.sidebar .nav-item .nav-link.nav-link--active .menu-title,
.sidebar .nav-item .nav-link.nav-link--active i {
    color: #fff !important;
}

/* nav-link on hover-open */
.sidebar .nav-item.hover-open .nav-link .menu-title {
    display: none !important;
}

.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse {
    top: 0 !important;
}

.sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse .sub-menu {
    margin-bottom: 0 !important;
    padding-left: 0 !important;
}

/* END OF SIDEBAR */

/* MAIN PANEL */

.main-panel .bg-img {
    background-image: url('../images/main-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.main-panel .card.card-table-header {
    max-height: 56px;
    height: 100%;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.main-panel .card.card-table-header .card-body {
    padding: 1rem 2rem !important;
    height: inherit !important;
}

.main-panel .card.card-table-header .card-body .card-bredcrumb a {
    font-size: 12px !important;
    color: rgba(52, 58, 64, 0.7) !important;
    text-decoration: none !important;
}

.main-panel .card.card-table-header .card-body .card-bredcrumb .text-primary {
    color: var(--purple) !important;
    font-family: "Ubuntu-Bold";

}


.main-panel .card.card-table-header .card-body .card-title {
    /* font-family: 'Ubuntu-Bold' !important; */
    font-size: 1.25rem;
}


/* END OF MAIN PANEL */